.start-screen-container {
    padding-top: 240px;
    text-align: center;
    background-color: var(--beige);
    height: 412px;
    border-bottom-right-radius: 2%;
    border-top-right-radius: 2%;
}

.start-screen-header {
    font-size: 60px;
    margin-bottom: 32px;
}

.new-game-button {
    font-size: 41px;
    padding: 8px;
}

.select-character {
    font-size: 20px;
    padding: 8px;
    margin-left: 4px;
    margin-right: 4px;
}

.divider {
    margin-top: 16px;
    margin-bottom: 16px;
}