.chat {
    background-color: orange;
    width: 30%;
    margin-left: 10%;
    border: 4px;

    /* No border to the right, since that border is already drawn by the board */
    border-left-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
}