.sub-header {
    color: var(--blue);
    font-size: 26px;
    height: 32px;
    align-items: center;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 16px;
}

a:link {
    color: var(--blue);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: var(--blue);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: var(--blue);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: var(--blue);
    background-color: transparent;
    text-decoration: underline;
}