.top {
    background-color: violet;
}

.center {
    display: flex;
    height: 600px;
}

.header {
    background-color: green;
    height: 48px;
    align-items: center;
    text-align: center;
    font-size: 32px;
    padding-top: 16px;
}

.sub-header {
    background-color: blue;
    height: 32px;
    align-items: center;
    text-align: center;
    padding-top: 8px;
}

.chat {
    background-color: yellow;
    width: 400px;
}

.lobby {
    background-color: purple;
    width: 1024px;
}