.square {
    width: 33%;
    height: 195px;
    background-color: rgba(255, 0, 0, 1);
    border: 2px;
    border-style: solid;
    font-size: 170px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.square:hover {
    background-color: rgba(200, 0, 0, 0.6);
}

.top-border {
    border-top: 4px solid;
}

.bottom-border {
    border-bottom: 4px solid;
}

.left-border {
    border-left: 4px solid;
}

.right-border {
    border-right: 4px solid;
}