.square {
    width: 33%;
    height: 195px;
    border: 2px;
    border-style: dashed;
    font-size: 170px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.square:hover {
    background-color: rgba(200, 0, 0, 0.6);
}

.no-top-border {
    border-top: 0px solid;
}

.no-bottom-border {
    border-bottom: 0px solid;
}

.no-left-border {
    border-left: 0px solid;
}

.no-right-border {
    border-right: 0px solid;
}