.square {
    width: 33.333%;
    height: 214.5px;
    border: 2px;
    border-style: dashed;
    border-color: black;
    color: black;
    font-size: 185px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color: var(--beige);
}

.square:hover {
    background-color: rgba(var(--beige2), 0.66);
}

.winner {
    animation: winner-transition 2.5s;
}

@keyframes winner-transition {
    10% {
        color: red;
    }
    20% {
        color: purple;
    }
    30% {
        color: blue;
    }
    40% {
        color: green;
    }
    50% {
        color: orange;
    }
}

.X {
    color: var(--blue);
}

.O {
    color: var(--red);
}

.no-top-border {

    border-top: 0px solid;
}

.no-bottom-border {
    border-bottom: 0px solid;
}

.no-left-border {
    border-left: 0px solid;
}

.no-right-border {
    border-right: 0px solid;
}

.top-right-border-radius {
    border-top-right-radius: 4%;
}

.bottom-right-border-radius {
    border-bottom-right-radius: 5%;
}